:root {
    --calguksu-900: #0D0D0D;
    --calguksu-400: #62798C;
}

body {
    background-color: var(--background-color);

    &.light {
        --background-color: white;
        --main-text: var(--calguksu-900);
    }

    &.dark {
        --background-color: var(--calguksu-900);
        --main-text: white;
    }
}

p {
    color: var(--text)
}