@font-face {
  font-family: 'Satoshi';
  font-weight: 400;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/hufsdevelopers/calendar-front/public/assets/satoshi/Satoshi-Regular.woff')
    format('woff');
}

@font-face {
  font-family: 'Satoshi';
  font-weight: 500;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/hufsdevelopers/calendar-front/public/assets/satoshi/Satoshi-Medium.woff')
    format('woff');
}

@font-face {
  font-family: 'Satoshi';
  font-weight: 700;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/hufsdevelopers/calendar-front/public/assets/satoshi/Satoshi-Bold.woff')
    format('woff');
}

@font-face {
  font-family: 'Satoshi';
  font-weight: 800;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/hufsdevelopers/calendar-front/public/assets/satoshi/Satoshi-Black.woff')
    format('woff');
}
